@{
    ViewData["Title"] = "Clients";
    ViewData["Main"] = "Clients";
}
@section Styles{
    <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
}


<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Main"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        <div class="col-12">

            <a asp-action="Create" class="btn btn-primary mb-4">Create Client</a>
            <table class="table table-bordered table-responsive" id="my_dt"></table>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/js/dt/clients.js"></script>
    <script>
        $(document).ready(function () {
            clientsTable('@Url.Action("LoadData")');
        })

    </script>
}