@{
    bool isAdmin = User.IsInRole(Roles.Admin);
    bool isContact = User.IsInRole(Roles.Contact);
}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link @Html.IsSelected("Home","active")" asp-action="Index" asp-controller="Home">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            @if (isAdmin)
            {
                <a class="nav-link @Html.IsSelected("Services","active")" asp-action="Index" asp-controller="Services">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sitemap"></i></div>
                    Services
                </a>
                <a class="nav-link @Html.IsSelected("Clients,Contacts","active")" asp-action="Index" asp-controller="Clients">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Clients
                </a>

            }
            @if (isAdmin || isContact)
            {

                <a class="nav-link @Html.IsSelected("Orders","active")" asp-action="Index" asp-controller="Orders">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-border-all"></i></div>
                    Orders
                </a>
            }



        </div>
    </div>

</nav>